main {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    max-height: 70%;
}
header {
    text-align: center;
}
footer {
    text-align: center;
}
body {
    margin-right: 10%;
    margin-left: 10%;
}
h1 {
    color: red;
    font-size: 300%;
}
h2 {
    color: red;
    font-size: 180%;
}
p {
    color:darkblue;
    font-size: 125%;
}